.outer-container {
    padding: 25px; /* Adjust padding as needed */
    background-image: url('https://stability-images-upload.s3.amazonaws.com/v1_txt2img_b51e5a8f-3e6d-45b3-bf7b-86f19992a5cc.png'); /* Replace 'path/to/your/image.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-color: rgba(255, 255, 255, 0.5);
}

.container {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto; /* Removed margin-top and margin-bottom */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgba(0,0,0, 0.2); /* Add a semi-transparent background to make the content more readable */
}

h2 {
    text-align: center; /* Align heading to the left */
    color: whitesmoke;
    margin-bottom: 20px;
}

/* Rest of your CSS styles */

label {
    display: block;
    margin-bottom: 10px;
    color: black;
    text-align: left; /* Align labels to the left */
    font-size: 20px; /* Increase font size for headings */
    font-weight: bold; /* Make headings bold */
}

input[type="text"], input[type="tel"], select, textarea {
    width: 100%;
    padding: 15px; /* Increase padding */
    margin-bottom: 20px;
    border: 1px solid rgb(188, 181, 181);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2); /* Set background to transparent */
    font-size: 18px; /* Increase font size */
}

textarea {
    height: 200px; /* Increase height */
}

input[type="submit"] {
    display: block; /* Set display to block */
    margin: 0 auto; /* Align to center horizontally */
    background-color: #007bff;
    color: whitesmoke;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}
